* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    font-weight: bold;
    }

window{
margin-left:200px;
}

window#waybar {
    background-color: #FAE6FA;
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: 0.1s;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;


}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: #6c7086;
    border-radius: 0;
}

#workspaces button.active {
    color: #32174D;
}

#workspaces button:hover {
    background: rgba(137, 180, 250, 0.2);
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#tray {
    padding: 0 10px;
    margin: 0 2px;
}

#clock {
    color: #32174D;
}

#battery {
    color: #32174D;
}

#battery.charging {
    color: #32174D;
}

#battery.warning:not(.charging) {
    color: #32174D;
}

#battery.critical:not(.charging) {
    color: #32174D;
}

#pulseaudio {
    color: #32174D;
}

#pulseaudio.muted {
    color: #32174D;
}

#network {
    color: #32174D;
}

#network.disconnected {
    color: #32174D;
}

#tray {
    color: #32174D;
}

#tray > .passive {
    opacity: 0.6;
}

#tray > .needs-attention {
    color: #32174D;
}
